body{
    display: grid;
}

#header1{
    font-size: 5vw;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-self: center;
    
}

#container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-self: center;
    height: 90vh;
    width: 90vw;
    border: 10px solid black;
}

html {
    background-color: beige;
}

html :hover {
    background-color: beige;
}

/*div[id^=box_]:hover {
    background-color: rgb(189, 109, 135);
    
}*/

#container:hover div[id^=box_] {
    background-color: rgb(21, 25, 243);
}
