body{
    display: grid;
}

#header1{
    font-size: 5vw;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-self: center;
    
}

#container{
    display: grid;
    /*grid-template-columns: repeat(10, 1fr);*/
    justify-self: center;
    height: 750px;
    width: 750px;
    border: 10px solid black;
    overflow: visible;
}

html {
    background-color: beige;
}

:hover html {
    background-color: beige;
}

/*div[id^=box_]:hover {
    background-color: rgb(189, 109, 135);
    
}*/

#container:hover div[id^=box_] {
    background-color: rgb(231, 214, 135);
}

button {
display: flex;
flex-direction: column;
height: 20px;
width: 200px;

}

#spacer{
    height: 50px;
}


#btn {
    background-color: rgb(196, 224, 255);
    border: 10px;
    margin: 10px;
    height: 20px;
    width: 200px;
}

button#btn:hover {
    background-color: grey;

}

#clear {
    background-color: rgb(196, 255, 196);
    border: 10px;
    margin: 10px;
    height: 20px;
    width: 200px;
}
button#clear:hover {
    background-color: rgb(255, 200, 196);
    
}

#btnContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}